* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: white;
}

.bg-grey {
  background-color: rgb(206, 215, 211);
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container .headers {
  width: 80%;
  font-size: 1.5rem;
  margin-bottom: 2%;
  font-weight: 600;
  color: #eb34eb;
}

.main-container .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: #7f4ce6;
  border-radius: 20px;
  height: 70vh;
}

.main-container .container .recent-scores {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-left: 3%;
}

.main-container .container .recent-scores .header {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

th {
  color: blueviolet;
}

.main-container .container .recent-scores .header button,
#submit-btn {
  height: 2rem;
  width: 120px;
  border: solid 2px;
  background-color: #eb34eb;
  font-size: 1.5rem;
  border-radius: 10px;
  align-self: center;
  font-weight: 600;
  margin-left: auto;
  box-shadow: 2px 3px 4px rgb(34, 33, 33);
  color: aliceblue;
}

.main-container .container .recent-scores .scores {
  text-align: center;
  background-color: white;
  margin-bottom: 10%;
  border-radius: 20px;
  overflow-y: auto;
  height: 70%;
  width: 95%;
  color: #ad13ad;
  font-weight: 400;
  font-size: 1.2em;
}

.main-container .container .recent-scores .scores .score-table {
  width: 98%;
  margin: auto;
  overflow-y: auto;
  height: 299px;
}

.main-container .container .add-scores {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.main-container .container .add-scores .heading {
  display: flex;
  justify-content: flex-start;
  margin-top: 10%;
}

.main-container .container .add-scores .input-form {
  width: 100%;
}

.main-container .container .add-scores .input-form .input {
  width: 80%;
  margin: 10px auto;
  height: 30px;
  border-radius: 10px;
}

.main-container .container .add-scores .input-form .submit {
  width: 80%;
  text-align: end;
}

.main-container .container .add-scores .input-form .submit .submit-btn {
  width: 30%;
  margin-left: auto;
  border: solid 2px;
}

div > h2 {
  font-size: 2rem;
  font-weight: 700;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px) {
  br {
    display: none;
  }

  .main-container {
    height: auto;
    margin: 0;
  }

  .main-container .container .recent-scores .header {
    width: 94%;
    margin-bottom: 5%;
  }

  .main-container .container .add-scores .heading {
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .main-container .container {
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .main-container .container .recent-scores .scores {
    margin-bottom: 0;
  }

  .main-container .headers {
    width: fit-content;
  }

  .main-container .container .recent-scores {
    width: 100%;
    margin: 0;
  }

  .main-container .container .add-scores {
    width: 98%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .main-container .container .add-scores .input-form .submit {
    width: fit-content;
    margin-bottom: 5%;
  }

  .main-container .container .add-scores .input-form .input {
    width: 98%;
    margin: 0;
  }

  footer > h2 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
